<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello code, ' + ${code} + '!'" />
<p th:text="'Hello state, ' + ${state} + '!'" />
<p th:text="'Hello scope, ' + ${scope} + '!'" />
<p th:text="'Hello error, ' + ${error} + '!'" />
<p th:text="'Hello access_token, ' + ${access_token} + '!'" />
<p th:text="'Hello id_token, ' + ${id_token} + '!'" />

<form action="https://api.line.me/oauth2/v2.1/token" method="post">
    code: <input type="text" name="code"><br>
   <input type="hidden" name="code"><br>
   <input type="hidden" name="grant_type" value="authorization_code"><br>
   <input type="hidden" name="redirect_uri" value="https://duc-test-spring.herokuapp.com/got_token"><br>
   <input type="hidden" name="client_id" value="1627405774"><br>
   <input type="hidden" name="client_secret" value="55f97e140a30ff183ecbbf57339133e3"><br>



    <input type="submit" value="Submit">
</form>

</body>
</html>