<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Code = ' + ${code} + '!'" />
<p th:text="'State = ' + ${state} + '!'" />
<p th:text="'Error = ' + ${error} + '!'" />
<p th:text="'Access_token = ' + ${access_token} + '!'" />
<p th:text="'id_token = ' + ${id_token} + '!'" />
<p th:text="'id_token verified = ' + ${verifiedSuccessful} + '!'" />
<p th:text="'Line name = ' + ${lineName} + '!'" />
<p th:text="'User id = ' + ${userId} + '!'" />
<p th:text="'Display name = ' + ${displayName} + '!'" />
<img th:src="${pictureUrl}">

</body>
</html>