<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello code, ' + ${code} + '!'" />
<p th:text="'Hello state, ' + ${state} + '!'" />
<p th:text="'Hello scope, ' + ${scope} + '!'" />
<p th:text="'Hello error, ' + ${error} + '!'" />
<p th:text="'Hello access_token, ' + ${access_token} + '!'" />
<p th:text="'Hello id_token, ' + ${id_token} + '!'" />
</body>
</html>